@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


.calendar-page{
  width: 100%;
  height: 100%;
  .month{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: #00E676;
    .select-form{
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
      .date-selectors{
        // width: 315px;
        display: block;
        .selector{
          height: 40px;
          width: 150px;
          margin-left: 5px;
          background-color: transparent;
          border: 1px solid #00B0FF;
          outline: none;
          font-size: 24px;
          color: white;
          transition: all .2s ease-in-out;
        }
        .selector:hover{
          color: #00B0FF;
          transition: all .2s ease-in-out;
        }
        .year-selector{
          width: 100px;
        }
      }
      .account_selector{
        // height: 45px;
        width: 200px;
        margin-left: 5px;
        background-color: transparent;
        border: 1px solid #00B0FF;
        outline: none;
        font-size: 20px;
        color: white;
        transition: all .2s ease-in-out;
      }
    }
  }
  .day-of-week{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    .week-day{
      display: inline-block;
      width: 14.28%;
      border-left: 1px solid #455A64;
      border-right: 1px solid #455A64;
      span{
        font-size: 13px;
        padding-left: 5px;
        color: #37474F;
      }
    }
  }
  .calendar-container{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 80px;
    .days{
      width: 100%;
      height: 150px;
      overflow: none;
      .num-box{
        box-sizing: border-box;
        float: left;
        width: 14.285714285714%;
        height: 100%;
        border: 1px solid #455A64;
        background-color: #37474F;
        position: relative;
        transition: all .2s ease-in-out;
        outline: none;
        .shade{
          width: 100%;
          height: 0px;
          background: black;
          opacity: .4;
          transition: all .5s ease-in-out;
          // overflow-y: scroll;
          .num-date{
            display: none;
            padding: 3px;
            color: white;
            font-size: 12px;
          }
        }
        .num-container{
          float: right;
          border-radius: 100%;
          margin: 5px;
          width: 15px;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          transition: background-color .2s ease-in-out;
          .num{
            font-size: 12px;
            border-radius: 100%;
            color: white;
          }
        }
      }
      .num-box:hover{
        .shade{
          height: 100%;
          transition: all .5s ease-in-out;
          .num-date{
            display: block;
            text-align: center;
          }
        }
        .num-container{
          display: none;
        }
      }
    }
  }
  .day_background_color{
    border: 1px solid #00E676;
    color: white;
  }
  .dead_month_color{
    opacity: .3;
  }
  .prev{
    position: fixed;
    top: 50%;
    font-size: 50px;
    background: transparent;
    border: none;
    opacity: .3;
    z-index: 2;
    transition: all .2s ease-in-out;
  }
  .next{
    position: fixed;
    top: 50%;
    right: 0px;
    font-size: 50px;
    background: transparent;
    border: none;
    opacity: .3;
    z-index: 2;
    transition: all .2s ease-in-out;
  }
  .button:hover{
    color: #00B0FF;
    opacity: 10;
    transition: all .2s ease-in-out;
  }
}

@media screen and (max-width: 600px){
  .calendar-page{
    .button{
      font-size: 45px;
    }
    .calendar-container{
      .days{
        height: 115px;
        .num-box{
          .shade{
            .num-date{
              font-size: 10px;
            }
          }
          .num-container{
            width: 10px;
            height: 10px;
            .num{
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px){
  .calendar-page{
    .button{
    }
    .calendar-container{
      .days{
        height: 102px;
        .num-box{
        }
      }
    }
  }
}
