@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


.calendar-page{
  width: 100%;
  height: 100%;
  .month{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: #00E676;
    .select-form{
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
      .date-selectors{
        // width: 315px;
        display: block;
        .selector{
          height: 40px;
          width: 150px;
          margin-left: 5px;
          background-color: transparent;
          border: 1px solid #00B0FF;
          outline: none;
          font-size: 24px;
          color: white;
          transition: all .2s ease-in-out;
        }
        .selector:hover{
          color: #00B0FF;
          transition: all .2s ease-in-out;
        }
        .year-selector{
          width: 100px;
        }
      }
      .account_selector{
        // height: 45px;
        width: 200px;
        margin-left: 5px;
        background-color: transparent;
        border: 1px solid #00B0FF;
        outline: none;
        font-size: 20px;
        color: white;
        transition: all .2s ease-in-out;
      }
    }
  }
  .day-of-week{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    .week-day{
      display: inline-block;
      width: 14.28%;
      border-left: 1px solid #455A64;
      border-right: 1px solid #455A64;
      span{
        font-size: 13px;
        padding-left: 5px;
        color: #37474F;
      }
    }
  }
  .calendar-container{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 80px;
    .days{
      width: 100%;
      height: 150px;
      overflow: none;
      .num-box{
        box-sizing: border-box;
        float: left;
        width: 14.285714285714%;
        height: 100%;
        border: 1px solid #455A64;
        background-color: #37474F;
        position: relative;
        transition: all .5s ease-in-out;
        outline: none;
        .shade{
          width: 100%;
          height: 0px;
          background: rgba(0, 0, 0, 0.3);
          transition: all  .5s ease-in-out;
          // overflow-y: scroll;
          .num-date{
            visibility: hidden;
            color: #00E676;
            font-size: 12px;
            position: absolute;
            left: 10px;
            top: 10px;
            // transition: visibility .3s ease-in-out;
          }
        }
        .num-container{
          float: left;
          border-radius: 100%;
          margin: 5px;
          width: 15px;
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px;
          transition: background-color .2s ease-in-out;
          .num{
            font-size: 12px;
            border-radius: 100%;
            color: white;
          }
        }
      }
      .num-box:hover{
        transition: all .5s ease-in-out;
        .shade{
          height: 100%;
          .num-date{
            visibility: visible;
            transition: visibility .5s ease-in-out;
          }
        }
        .num-container{
          display: none;
        }
      }
    }
    .cur_trans_box{
        display: none;
    }
  }
  .day_background_color{
    border: 2px solid #00E676;
    color: white;
  }
  .dead_month_color{
    opacity: .3;
  }
  .prev{
    position: fixed;
    top: 50%;
    font-size: 30px;
    background: transparent;
    border: none;
    opacity: .25;
    z-index: 2;
    transition: all .2s ease-in-out;
  }
  .next{
    position: fixed;
    top: 50%;
    right: 0px;
    font-size: 30px;
    background: transparent;
    border: none;
    opacity: .25;
    z-index: 2;
    transition: all .2s ease-in-out;
  }
  .button:hover{
    color: #00B0FF;
    opacity: 10;
    transition: all .2s ease-in-out;
  }
  .transaction-button{
      position: fixed;
      bottom: 5px;
      font-size: 40px;
      z-index: 2;
      border: none;
      background: transparent;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 40px;
      span{
          font-size: 10px;
      }
  }
  .income-button{
      right: 10px;
      color: #00E676;
  }
  .expense-button{
      left: 10px;
      color: red;
  }
  .transaction-button:hover{
      opacity: .5;
  }
}

@media screen and (max-width: 600px){
  .calendar-page{
    .button{
      font-size: 45px;
    }
    .calendar-container{
      .days{
        height: 115px;
        .num-box{
          .shade{
            .num-date{
              font-size: 10px;
            }
          }
          .num-container{
            width: 10px;
            height: 10px;
            .num{
              font-size: 10px;
            }
          }
        }
        .num-box:hover{
          .shade{
            .num-date{
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  .calendar-page{
    .button{
    }
    .calendar-container{
      .days{
          height: 50px;
        .num-box{
            .shade{
                .num-date{
                    right: 5px;
                    top: 5px;
                    font-size: 8px;
                }
            }
            .num-container{
                width: 5px;
                height: 5px;
                .num{
                    font-size: 8px;
                }
            }
        }
        .num-box:hover{
          .shade{
            .num-date{
            }
          }
        }
      }
      .cur_trans_box{
          display: block;
          height: auto;
          width: 100%;
          .trans_act{
              display: block;
              text-align: center;
              margin: 5px;
              text-decoration: underline;
          }
      }
    }
    .button{
        position: fixed;
        top: 30%;
        font-size: 30px;
    }
  }
}
