.container{
  height: 100%;
  width: 100%;
  z-index: -2;
  //shadow affect may look good with slide out menu
  .home-page{
    width: 100%;
    height: 100%;
    background: url('../images/stock-photo-pennies.jpg') no-repeat;
    background-size: cover;
    position: fixed;
    top: .1px;
    // box-shadow: 0 4px 10px 0 black;
    .title{
      position: fixed;
      font-size: 40px;
      font-style: italic;
      font-weight: bold;
      z-index: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      color: white;
    }
    .title2{
      width: 100%;
      display: flex;
      justify-content: center;
      position: fixed;
      top: 50px;
      letter-spacing: 5px;
      color: white;
    }
    .logo-box{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      height: 80px;
      position: fixed;
      top: 0px;
      .logo{
        height: 50px;
        margin-right: 20px;
        animation: mymove 5s infinite;
      }
      @keyframes mymove{
        50% {transform: scale(1.2)}
      }
    }
    .background-image{
      width: 100%;
      height: 100%;
      z-index: -2;
    }
    .background-video{
      width: 100%;
      height: 100%;
      z-index: -2;
    }
    .slogan{
      // height: 50%;
      width: 100%;
      position: fixed;
      top: 40%;
      text-align: center;
      color: white;
      font-size: 29px;
      font-weight: bold;
      text-shadow: 1px 1px #263238;
      z-index: 2;
      .sign-up{
        background-color: #00E676;
        font-size: 15px;
        color: white;
        padding: 10px 20px;
        border: none;
        // outline: none;
        border-radius: 5px;
        transition: all .2s ease-in-out;
        font-weight: normal;
      }
      .input{
        font-size: 18px;
        border: none;
        border-radius: 3px;
        padding: 5px 10px;
        font-weight: normal;
        opacity: .9;
        background-color: black;
      }
      .log-in{
        font-size: 15px;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: normal;
        transition: all .2s ease-in-out;
        // outline: none;
        background-color: #00B0FF;
        color: white;
        // opacity: .9;
      }
      .log-in:hover{
        // opacity: .6;
        background: #00e676;
        transition: all .2s ease-in-out;
      }
      span{
        font-size: 18px;
        font-weight: normal;
      }
      .sign-up:hover{
        background-color: #00B0FF;
        transition: all .2s ease-in-out;
      }
    }
  }
  .square-container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 0;
    opacity: .6;
    .square1{
      border: 4px solid #00b0ff;
      height: 50px;
      width: 50px;
      transform: rotate(180deg);
      animation: spin 4s infinite;
      color: #00e676;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px;
      // position: fixed;
      // top: 20%;
    }
    .square2{
      border: 4px solid #00e676;
      height: 250px;
      width: 250px;
      animation: spinner 7s infinite;
      color: #00b0ff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px;
      // position: fixed;
      // bottom: 10%;
    }
    .square3{
      border: 4px solid #00b0ff;
      height: 50px;
      width: 50px;
      animation: spin 6s infinite;
      color: #00b0ff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 50px;
      // position: fixed;
      // top: 10%;
    }
    // .square2:hover{
    //   animation: spinner 3s infinite;
    // }
    @keyframes spinner{
      50% {transform: rotate(1turn);}
    }
    @keyframes spin{
      50% {transform: rotate(360deg)}
    }
    @keyframes slow{
      50% {transform: rotatate(180deg)}
    }
  }
}


@media screen and (max-width: 600px){
  .container{
    .home-page{
      .slogan{
        font-size: 21px;
        .sign-up{
          font-size: 12px;
        //   padding: 5px 10px;
        }
        .log-in{
          font-size: 12px;
        }
        span{
          font-size: 14px;
        }
      }
      .square-container{
        .square1{
          height: 25px;
          width: 50px;
        }
        .square2{
          height: 25px;
          width: 50px;
        }
        .square3{
          height: 25px;
          width: 50px;
        }
      }
    }
  }
}

@media screen and (max-height: 400px){
  .container{
    .home-page{
      .title{
        font-size: 25px;
      }
      .title2{
        font-size: 12px;
      }
      .slogan{
        top: 35%;
        font-size: 17px;
        .sign-up{
          font-size: 10px;
          padding: 5px 10px;
        }
        .log-in{
          font-size: 10px;
        }
        span{
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (max-height: 200px){
  .container{
    .home-page{
      .title-label{
        .title{
          font-size: 20px;
        }
        .title2{
          font-size: 10px;
        }
      }
      .slogan{
        font-size: 12px;
      }
    }
  }
}
