$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : white !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.container{
  height: 100%;
  width: 100%;
  transition: .7s;
  .navbar{
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    z-index: 2;
    .nav-button{

      .hamburger{
        outline: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        .hamburger-label{
          display: inline;
          margin-left: 5px;
          color: white;
          z-index: 2;
          font-size: 13px;
        }
      }
      .links{
        position: fixed;
        top: 0px;
        left: 0px;
        padding-top: 80px;
        overflow-x: hidden;
        width: 0px;
        height: inherit;
        transition: .7s;
        background: black;
        opacity: .8;
        a{
        //   width: 100%;
          border-radius:5px;
          padding: 20px;
          color: #00E676;
          display: block;
          text-decoration: none;
          transition: all .2s ease-in-out;
          height: auto;
        }
        a:hover{
          background-color: #00B0FF;
          color: white;
          border-left: 5px solid #00E676;
          transition: all .2s ease-in-out;
        }
        img{
            position: absolute;
            bottom: 80px;
            display: block;
            margin: auto;
            width: 30%;
            margin: 10px 35%;
        }
      }
      .display{
        width: 200px;
      }
    }
  }
}
.push{
  margin-left: 200px;
}


@media screen and (max-width: 500px){
  .container{
    .navbar{
      .nav-button{
          .hamburger{
            .hamburger-label{
              display: none;
            }
          }
      }
    }
  }
}

@media screen and (max-height: 500px){
  .container{
    .navbar{
      .nav-button{
          .hamburger{
            .hamburger-label{
              visibility: hidden;
            }
          }
        .links{
          a{
            padding: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-height: 300px){
  .container{
    .navbar{
      .nav-button{
        .links{
          a{
            padding: 5px;
          }
        }
      }
    }
  }
}
