.login-page{
  background-color: #37474F;
  width: 100%;
  height: 100%;
  .green-bar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 1;
    background-color: #00E676;
    .title{
      position: fixed;
      font-size: 40px;
      font-style: italic;
      font-weight: bold;
      z-index: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      color: white;
    }
    .title2{
      width: 100%;
      display: flex;
      justify-content: center;
      position: fixed;
      top: 50px;
      letter-spacing: 5px;
      color: white;
    }
    .logo-box{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      height: 80px;
      .logo{
        height: 50px;
        margin-right: 20px;
        animation: mymove 5s infinite;
      }
      @keyframes mymove{
        50% {transform: scale(1.2)}
      }
    }
  }
  .form-box{
    position: absolute;
    top: 60px;
    width: 100%;
    // height: 100%;
    .options{
      width: 60%;
      display: flex;
      justify-content: flex-end;
      margin: 0 auto;
      margin-top: 30px;
      a{
        margin: 0px 10px;
        text-decoration: none;
        color: black;
        transition: color .2s ease-in-out;
      }
      a:hover{
        color: #00E676;
        transition: color .2s ease-in-out;
      }
    }
    .addAccountForm{
      width: 60%;
      // height: 80%;
      text-align: center;
      margin: 30px auto;
      background: white;
      padding: 30px 10px;
      border: 1px solid lightgray;
      border-radius: 3px;
      box-shadow: 1px 1px 10px lightgray;
      div{
        margin-bottom: 10px;
      }
      .incorrectInput{
        margin: 0;
        color: red;
        height: 25px;
      }
      .add_input{
        margin: 15px;
        padding: 10px;
        width: 75%;
        border-radius: 3px;
        border: 1px solid lightgray;
      }
      .addAccountSubmit{
        padding: 10px 15px;
        background-color: #00B0FF;
        border: none;
        border-radius: 3px;
        color: white;
        margin-bottom: 20px;
        transition: background-color .2s ease-in-out;
      }
      .addAccountSubmit:hover{
        background-color: #00E676;
        transition: background-color .2s ease-in-out;
      }
    }
    .loginForm{
      background: white;
      padding: 30px 10px;
      border: 1px solid lightgray;
      border-radius: 3px;
      box-shadow: 1px 1px 10px lightgray;
      width: 60%;
      text-align: center;
      margin: 30px auto;
      border-radius: 15px;
      div{
        margin-bottom: 10px;
      }
      .incorrectInput{
        margin: 0;
        color: red;
        height: 25px;
      }
      .login_input{
        margin: 15px;
        padding: 10px;
        width: 75%;
        border-radius: 3px;
        border: 1px solid lightgray;
      }
      .log-in{
        padding: 10px 15px;
        background-color: #00B0FF;
        border: none;
        border-radius: 3px;
        color: white;
        margin-bottom: 20px;
        transition: background-color .2s ease-in-out;
      }
      .log-in:hover{
        background-color: #00E676;
        transition: background-color .2s ease-in-out;
      }
    }
  }
  .loading_spinner{
    position: absolute;
    top: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    z-index: 5;
    img{
        width: 100px;
    }
  }
}

@media screen and (max-width: 600px){
  .container{
    .login-page{
      .green-bar{
        .title{
        }
        .title2{

        }
      }
      .form-box{
        .options{
          width: 90%;
        }
        .addAccountForm{
          width: 90%;
        }
        .loginForm{
          width: 90%;
        }
      }
    }
  }
}
