@import 'layout';
@import 'home';
@import 'calendar';
@import 'login';

html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

div, h1, h2, h3, span, a, ul, li, nav, button{
    font-family: 'Cuprum', sans-serif;
}

.no-scroll{
    overflow-y: hidden;
    height: 100%;
    overflow-x: hidden;
    // position: fixed;
}
