<div class="calendar-page">
  <div class="month">
    <form class="select-form">
      <div class="date-selectors">
        <select name="select" class="month-selector selector" id="month">
        </select>
        <select name="select" class="year-selector selector" id="year">
        </select>
      </div>
    </form>
    <div class="day-of-week">
      <div class="week-day"><span>Sun</span></div>
      <div class="week-day"><span>Mon</span></div>
      <div class="week-day"><span>Tues</span></div>
      <div class="week-day"><span>Wed</span></div>
      <div class="week-day"><span>Thur</span></div>
      <div class="week-day"><span>Fri</span></div>
      <div class="week-day"><span>Sat</span></div>
    </div>
  </div>
  <div class="calendar-container">
    <div class="days" ng-app="app" ng-controller="CalendarController">
      <div id="num-box" class="num-box" data="" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
          <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
      <div id="num-box" class="num-box" ng-click="showAdvanced($event)">
        <div class="shade">
          <span class="num-date"></span>
          <div class="button-box">
            <span class="expense fontawesome-minus-sign"></span>
            <span class="income fontawesome-plus-sign"></span>
          </div>
        </div>
        <div class="num-container"><span class="num"></span></div>
        <span class="beginning_balance"></span>
        <span class="ending_balance"></span>
      </div>
    </div>
    <div class="cur_trans_box">
        <span class="trans_act">Transaction Activity</span>
        <div class="button-box">
          <span class="expense fontawesome-minus-sign"></span>
          <span class="income fontawesome-plus-sign"></span>
        </div>
    </div>
  </div>
  <button class="prev button fontawesome-chevron-left" ng-click="vm.prev()"></button>
  <!-- <button class="current button fontawesome-calendar" ng-click="vm.current()"> Today</button> -->
  <button class="next button fontawesome-chevron-right" ng-click="vm.next()"></button>
</div>
