<div id="calendar-page" class="calendar-page">
  <div class="month">
    <form class="select-form">
      <div class="date-selectors">
        <select name="select" class="month-selector selector" id="month">
        </select>
        <!-- <input class="goTo selector" type="number" min="1" max="31"/> -->
        <select name="select" class="year-selector selector" id="year">
        </select>
      </div>
      <!-- <img class="logo" src="./images/parrot-personal-finance-logo.png"/> -->
      <!-- <button class="settings fontawesome-cog"><span> Settings</span></button>
      <ul class="settings-menu">
          <li>

          </li>
      </ul> -->
    </form>
    <div class="calendar-controls">
        <button class="prev button" ng-click="vm.prev()">Prev</button>
        <button class="current button fontawesome-calendar" ng-click="vm.current()"> Today</button>
        <button class="next button" ng-click="vm.next()">Next</button>
    </div>
    <!-- <div class="day-of-week">
      <div class="week-day"><span>Sun</span></div>
      <div class="week-day"><span>Mon</span></div>
      <div class="week-day"><span>Tues</span></div>
      <div class="week-day"><span>Wed</span></div>
      <div class="week-day"><span>Thur</span></div>
      <div class="week-day"><span>Fri</span></div>
      <div class="week-day"><span>Sat</span></div>
    </div> -->
  </div>
  <div class="calendar-container">
    <div class="days">
      <div id="num-box" class="num-box" data="" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Friday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Friday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
          <div class="num-container"><span class="num"></span></div>
          <div class="weekday">
              Friday,
              <span class="num-date"></span>
          </div>
          <div class="main-info">
              <div class="starting-balance balance">
                  Starting Balance
              </div>
              <div class="income-activity transaction-activity">
                  <span class="income">Incomes</span>
                  <div class="activity-content income-content">

                  </div>
              </div>
              <div class="expense-activity transaction-activity">
                  <span class="expense">Expenses</span>
                  <div class="activity-content expense-content">

                  </div>
              </div>
              <div class="ending-balance balance">
                  Ending Balance
              </div>
          </div>
          <div class="date-value">

          </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Friday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Friday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday,<br />
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">
                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Friday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday,
            <span class="num-date"></span>
        </div>
        <div class="main-info">
            <div class="starting-balance balance">
                Starting Balance
            </div>
            <div class="income-activity transaction-activity">
                <span class="income">Incomes</span>
                <div class="activity-content income-content">

                </div>
            </div>
            <div class="expense-activity transaction-activity">
                <span class="expense">Expenses</span>
                <div class="activity-content expense-content">

                </div>
            </div>
            <div class="ending-balance balance">
                Ending Balance
            </div>
        </div>
        <div class="date-value">

        </div>
      </div>
    </div>
  </div>
  <!-- <div class="goToBox">
      <span>Go to day: </span>
      <input class="goTo selector" placeholder="0"/>
  </div> -->
  <div class="fab-box">
      <button class="expense-button transaction-button entypo-minus"></button>
      <button class="income-button transaction-button entypo-plus"></button>
      <button class="fab-button transaction-button entypo-list-add"></button>
  </div>
  <div class="income-form">
      <div class="card">
          <button class="close entypo-cancel"></button>
          <h1>Add Income</h1>
          <p>Are you expecting to recieve income?</p>
          <form ng-submit="vm.submitIncome()">
              <ul class="income-categories">
                <li value="Misc">
                    <button class="income-category" type="button" value="Income">
                        <img class="income-icon" src="./images/misc-income.png" />
                    </button>
                    <span>Income</span>
                </li>
                <li>
                    <button class="income-category" type="button" value="Paycheck">
                        <img class="income-icon" src="./images/paycheck.png" />
                    </button>
                    <span>Paycheck</span>
                </li>
                <li>
                    <button class="income-category" type="button" value="Bonus">
                        <img class="income-icon" src="./images/bonus.png" />
                    </button>
                    <span>Bonus</span>
                </li>
                <li>
                    <button class="income-category" type="button" value="Reimbursement">
                        <img class="income-icon" src="./images/reimbursement.png" />
                    </button>
                    <span>Reimbursement</span>
                </li>
                <li>
                    <button class="income-category" type="button" value="Investment">
                        <img class="income-icon" src="./images/investment.png" />
                    </button>
                    <span>Investment</span>
                </li>
                <li>
                    <button class="income-category" type="button" value="Gift">
                        <img class="income-icon" src="./images/gifts.png" />
                    </button>
                    <span>Gift</span>
                </li>
            </ul>
              <ul class="checkbox">
                  <li><input class="frequency first-checkbox" type="checkbox" value="Once" checked/>Once</li>
                  <li><input class="frequency" type="checkbox" value="Daily" />Daily</li>
                  <li><input class="frequency" type="checkbox" value="Weekly" />Weekly</li>
                  <li><input class="frequency" type="checkbox" value="Bi-weekly" />Bi-weekly</li>
                  <li><input class="frequency" type="checkbox" value="Monthly" />Monthly</li>
                  <li><input class="frequency" type="checkbox" value="Semi-annual" />Semi-annual</li>
                  <li><input class="frequency" type="checkbox" value="Annual" />Annual</li>
              </ul>
              <input class="date-input" type="date" />
              <input class="value-amount income-amount" placeholder="$0.00"/>
              <button class="submit-transaction" type="submit">Enter</button>
          </form>
      </div>
  </div>
  <div class="expense-form">
      <div class="card">
          <button class="close entypo-cancel"></button>
          <h1>Add Expense</h1>
          <p>Are you expecting any expense?</p>
          <form ng-submit="vm.submitExpense()">
              <ul class="expense-categories">
                  <li>
                      <button class="expense-category" type="button" value="Expense">
                          <img class="expense-icon" src="./images/misc-income.png" />
                      </button>
                      <span>Expense</span>
                  </li>
                <li>
                    <button class="expense-category" type="button" value="Clothing">
                        <img class="expense-icon" src="./images/clothing.png" />
                    </button>
                    <span>Clothing</span>
                </li>
                <li>
                    <button class="expense-category" type="button" value="Education">
                        <img class="expense-icon" src="./images/education.png" />
                    </button>
                    <span>Education</span>
                </li>
                <li>
                    <button class="expense-category" type="button" value="Entertainment">
                        <img class="expense-icon" src="./images/entertainment.png" />
                    </button>
                    <span>Entertainment</span>
                </li>
                <li>
                    <button class="expense-category" type="button" value="Food">
                        <img class="expense-icon" src="./images/food.png" />
                    </button>
                    <span>Food</span>
                </li>
                <li>
                    <button class="expense-category" type="button" value="Grocery">
                        <img class="expense-icon" src="./images/grocery.png" />
                    </button>
                    <span>Grocery</span>
                </li>
                <li>
                    <button class="expense-category" type="button" value="Healthcare">
                        <img class="expense-icon" src="./images/healthcare.png" />
                    </button>
                    <span>Healthcare</span>
                </li>
                <li>
                    <button class="expense-category" type="button" value="Household">
                        <img class="expense-icon" src="./images/home.png" />
                    </button>
                    <span>Household</span>
                </li>
                <li>
                    <button class="expense-category" type="button" value="Insurance">
                        <img class="expense-icon" src="./images/insurance.png" />
                    </button>
                    <span>Insurance</span>
                </li>
                <li>
                    <button class="expense-category" type="button" value="Loan">
                        <img class="expense-icon" src="./images/loan.png" />
                    </button>
                    <span>Loan</span>
                </li>
            </ul>
              <ul class="checkbox">
                  <li><input class="frequency first-checkbox" type="checkbox" value="Once" checked/>Once</li>
                  <li><input class="frequency" type="checkbox" value="Daily" />Daily</li>
                  <li><input class="frequency" type="checkbox" value="Weekly" />Weekly</li>
                  <li><input class="frequency" type="checkbox" value="Bi-weekly" />Bi-weekly</li>
                  <li><input class="frequency" type="checkbox" value="Monthly" />Monthly</li>
                  <li><input class="frequency" type="checkbox" value="Semi-annual" />Semi-annual</li>
                  <li><input class="frequency" type="checkbox" value="Annual" />Annual</li>
              </ul>
              <input class="date-input" type="date" />
              <input class="value-amount expense-amount" placeholder="$0.00"/>
              <button class="submit-transaction" type="submit">Enter</button>
          </form>
      </div>
  </div>
</div>
