<div id="calendar-page" class="calendar-page">
  <div class="month">
    <form class="select-form">
      <div class="date-selectors">
        <select name="select" class="month-selector selector" id="month">
        </select>
        <select name="select" class="year-selector selector" id="year">
        </select>
      </div>
    </form>
    <div class="calendar-controls">
        <button class="prev button" ng-click="vm.prev()">Prev</button>
        <button class="current button fontawesome-calendar" ng-click="vm.current()"> Today</button>
        <button class="next button" ng-click="vm.next()">Next</button>
    </div>
    <!-- <div class="day-of-week">
      <div class="week-day"><span>Sun</span></div>
      <div class="week-day"><span>Mon</span></div>
      <div class="week-day"><span>Tues</span></div>
      <div class="week-day"><span>Wed</span></div>
      <div class="week-day"><span>Thur</span></div>
      <div class="week-day"><span>Fri</span></div>
      <div class="week-day"><span>Sat</span></div>
    </div> -->
  </div>
  <div class="calendar-container">
    <div class="days">
      <div id="num-box" class="num-box" data="" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Friday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday
        </div>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Friday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday
        </div>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
          <div class="num-container"><span class="num"></span></div>
          <div class="weekday">
              Friday
          </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday
        </div>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Friday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday
        </div>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Friday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday
        </div>
      </div>
    </div>
    <div class="days">
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Sunday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Monday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Tuesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Wednesday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Thursday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Friday
        </div>
      </div>
      <div id="num-box" class="num-box" ng-click="">
        <!-- <div class="shade">
        </div> -->
        <button class="income-button transaction-button entypo-plus"></button>
        <button class="expense-button transaction-button entypo-minus"></button>
        <span class="num-date"></span>
        <div class="num-container"><span class="num"></span></div>
        <div class="weekday">
            Saturday
        </div>
      </div>
    </div>
  </div>
  <div class="top-box">
      <button class="top fontawesome-chevron-up" ng-click="vm.goToTop()"></button>
  </div>
</div>
