<div class="home-page">
  <!-- <span class="title">FORE$EE</span> -->
  <!-- <img class="background-image" src="./images/some-change.jpg" /> -->
  <!-- <video autoplay loop class="background-video">
    <source src="./images/unstock_lifestyle.mp4" type="video/mp4"/>
  </video> -->
  <div class="slogan">
    Dream Big and Plan for a Better FUTURE!<br>
    Your Dreams are Achievable!<br>
    <br />
    <a href="/#/log-in"><button class="log-in">Log in</button><br /></a>
    <span>Or</span><br />
    <a href="/#/sign-up"><button class="sign-up">Sign Up Free</button><br /></a>
  </div>
</div>
