<div class="home-page">
  <!-- <video autoplay loop class="video">
    <source src="./images/unstock_balloon.mp4" type="video/mp4"/>
  </video> -->
  <span class="title">Fore$ee</span>
  <span class="title2">Personal Financing</span>
  <div class="logo-box">
    <img class="logo" src="./images/Foresee-logo.svg" />
  </div>
  <div class="slogan">
    Dream Big and Plan for a Better FUTURE!<br>
    Your Dreams are Achievable!<br>
    <br />
    <a href="/#/login"><button class="log-in">Login</button><br /></a>
    <span>Or</span><br />
    <a href="/#/signup"><button class="sign-up">Signup Free</button><br /></a>
  </div>
  <div class="square-container">
    <div class="square1">
      $
    </div>
    <div class="square2">
      $
    </div>
  </div>
</div>
