<div class="home-page">
  <span class="title">Fore$ee</span>
  <span class="title2">Personal Financing</span>
  <div class="logo-box">
    <img class="logo" src="./images/Foresee-logo.svg" />
  </div>
  <div class="slogan">
    Dream Big and Plan for a Better FUTURE!<br>
    Your Dreams are Achievable!<br>
    <br />
    <a href="/#/login"><button class="log-in">Login</button><br /></a>
    <span>Or</span><br />
    <a href="/#/signup"><button class="sign-up">Signup Free</button><br /></a>
  </div>
</div>
