<div class="navbar">
  <div class="nav-button">
    <div class="links">
      <a class="link" href="/#/home">Home</a>
      <a class="link calendar_link" href="/#/calendar">Calendar</a>
      <a class="link" href="">Account/Profile</a>
      <a class="link" href="">Contact/FAQ</a>
      <!-- <a href="" class="login fontawesome-lock logout"> Log Out</a> -->
      <a href="" class="link login loginButton">Login</a>
      <a class="link" href="">Signup</a>
    </div>
    <button class="hamburger hamburger--elastic" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</div>



<div class="wrapper" ui-view></div>
