<div class="profile-page">
    <div class="green-bar">
      <span class="title"><img src="./images/parrot-personal-finance-logo.png" width="50"/>arrot</span>
      <span class="title2">Personal Financing</span>
      <!-- <div class="logo-box">
        <img class="logo" src="./images/Foresee-logo.svg" />
      </div> -->
    </div>
    <div class="profile-container">
        <div class="profile-card">
            <h2>Profile Info</h2>
            <div class="user-image">
                <img src="./images/default-contact.png" />
            </div>
            <h3>User Name</h3>
            <div class="profile-content">
                <h4>Accounts</h4>
                <button ng-click="vm.openAccountPopup()">Account Set-up</button>
            </div>

        </div>
        <div class="daily-updates-card">
            <h2>Updates/Activity</h2>
        </div>
        <div class="data-analysis-card">
            <h2>Analysis</h2>
        </div>
    </div>
    <div class="popup-container">
        <div class="setup-card">
            <h2>Account Set-up</h2>
            <button class="close entypo-cancel"></button>
            <form>

            </form>
        </div>
    </div>
</div>
