<div class="login-page">
  <div class="green-bar">
    <span class="title"><img src="./images/parrot-personal-finance-logo.png" width="50"/>arrot</span>
    <span class="title2">Personal Financing</span>
    <!-- <div class="logo-box">
      <img class="logo" src="./images/Foresee-logo.svg" />
    </div> -->
  </div>
  <div class="form-box">
    <div class="options"><a href="/#/signup">Sign Up</a> | <a href="/#/login">Log In</a></div>
    <form id="addAccountForm" class="addAccountForm" ng-submit="vm.signup(user)">
      <span>Sign Up</span>
      <h2>
        Forecast Your Spending and be Prepared for the Future.
      </h2>
      <div>
        Sign up to see your financial future.
      </div>
      <div class="incorrectInput"></div>
      <input type="text" class="firstNameInput add_input" placeholder="First Name" ng-model="user.firstname" required><br />
      <input type="text" class="lastNameInput add_input" placeholder="Last Name" ng-model="user.lastname" required><br />
      <input type="text" class="usernameInput add_input" placeholder="Username" name="username" ng-model="user.username" required><br />
      <input type="email" class="emailInput add_input" placeholder="Email" ng-model="user.email" required><br />
      <input type="password" class="passwordInput add_input" placeholder="Password" ng-model="user.password" required><br />
      <button class="addAccountSubmit">Sign Up</button>
    </form>
    <!-- <div class="loading_spinner" ng-show="vm.loadingIndicator">
        <img src="images/parrot-loading-logo.gif" width="70" alt="Loading..." />
    </div> -->
  </div>
</div>
